.App {
    text-align: center;
}

#block {
    background-color: bisque;
    padding: 1.5%;
}

.items-nav {
    display: inline;
}

.btn-nav {
    background-color: bisque;
    color: brown;
    border: 0px;
    font-size: 30px;
    padding: 1.5%;
    font-style: italic;
    cursor: pointer;
    ;
}

.btn-register {
    background-color: rgb(239, 179, 101);
    color: brown;
    border: 10px;
    font-size: 30px;
    padding: 0.5%;
    font-style: italic;
    border-radius: 10px;
    cursor: pointer;
}

.tittle {
    font-size: 30px;
    font-style: italic;
    color: brown;
}

.lb-register {
    color: brown;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input {
    background-color: beige;
    border-radius: 5px;
    border: 0px;
    padding: 0.4%;
}

.btn-consult {
    background-color: rgb(239, 179, 101);
    color: brown;
    border: 10px;
    font-size: 5px;
    padding: 0.5%;
    font-style: italic;
    border-radius: 5px;
    cursor: pointer;
}

.items-consult {
    display: inline-flex;
    align-items: center;
}

.lb-consult {
    color: brown;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-consult {
    margin-left: 10px;
    margin-right: 10px;
    background-color: beige;
    border-radius: 5px;
    border: 0px;
    padding: 1.5%;
    width: 200px;
    height: 30px;
}

.btn-consult {
    margin-left: 10px;
    font-size: 20px;
    padding: 1.5%;
}